extends layout
block content

 .container 
  form(method='post' , action='/ban', enctype='multipart/form-data' )
   h1 Add a Category
   

   .form-group.col-lg-6.col-md-offset-4
    label General users:
    select.form-control(name="userb")
     if users
      each user , i in users
       if user.banned=="false"
        option(value=user.username ) #{user.username}
   .form-group.col-lg-6.col-md-offset-4   
    input.btn.btn-default(name='submit',type='submit',value='ban') 
   .form-group.col-lg-6.col-md-offset-4
    label General users:
    select.form-control(name="userrei")
     if users
      each user , i in users
       if user.banned=="true"
        option(value=user.username ) #{user.username}
   .form-group.col-lg-6.col-md-offset-4   
    input.btn.btn-default(name='submit',type='submit',value='rei') 
  style.
    body {
    color:black;
    background-image: url("http://wallpaper.zone/img/143151.jpg");
    width:100%;
    height:100;
    position:relative;
    }
    h1{
    text-align:center;
    }
