extends layout
block content
	.container
		.jumbotron.text-center
			h1.text-uppercase #{lesson.lesson_title}
			h3 #{lesson.lesson_body}

		.jumbotron.text-center
			div.center-block
				video.video-js.vjs-theme-colors-blue(controls='', preload='auto', data-setup="{}", center-big-play-button)
					source(src=lesson.lesson_video, type='video/mp4')

